<section class="container">
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile><span>Welcome to IBING!</span>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="services">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Software Consulting</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/pm.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Our objective takes us to offer appealing web design and development, and quality custom application
          development based on proprietary and open-source tools. We leverage on technologies that are reliable,
          scalable, contribute to enhancing the bottom-line, and serve the clients immediate needs.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Cloud Services</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/pm.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Our objective takes us to offer appealing web design and development, and quality custom application
          development based on proprietary and open-source tools. We leverage on technologies that are reliable,
          scalable, contribute to enhancing the bottom-line, and serve the clients immediate needs.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Design Engineering</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/pm.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Our objective takes us to offer appealing web design and development, and quality custom application
          development based on proprietary and open-source tools. We leverage on technologies that are reliable,
          scalable, contribute to enhancing the bottom-line, and serve the clients immediate needs.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
